::-webkit-scrollbar {
    width: 8px;
}


/* Track */
::-webkit-scrollbar-track .container-ingredients{
    background: blue; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }