.container-box li { 
  background-color: $secondary-color;
  color: white;
}

.container-box {
  background-color: $secondary-color;
  max-width: 600px;
}

.ingredients-list {
  background-color: $secondary-color;
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  justify-content: space-between;
}

input {
  background-color: $secondary-color;
}

.list-group-item + .list-group-item {
  border: none;
}

.list-group-item:nth-child(0) {
  border: 0px;
}