// Section des containers
.recherches-section {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  align-items: flex-start;
}

// Container ingredients
.container-ingredients div { 
  background-color: $secondary-color;
  color: white;
  border: none;
  flex: 1 1 180px;
}


.container-ingredients{

  background-color: $secondary-color;
  max-width: 200px;
  max-height: 50px;
  overflow: hidden;
  input {
    height: 50px;
    color: white;
    background-color: $secondary-color;
    -webkit-appearance: none;
    max-width: 200px;
    outline-style: none;
    border: none;
    padding-left: 20px;
  }
  
  input:active{
    border: none;
    -webkit-appearance: none
  }
  
  input::placeholder{
    color: #FFFFFF;
    opacity: 0.7;
  }

  

  .ingredients {
    cursor: pointer;
  }
}


.ingredients-list {
  background-color: $secondary-color;
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  justify-content: space-between;
}



.list-group-item + .list-group-item {
  border: none;
}

.list-group-item:nth-child(0) {
  border: 0px;
}




// Container Appareils
.container-appareil div { 
  background-color: $tertiary-color;
  color: white;
  border: none;
  flex: 1 1 180px;
}

.container-appareil{
  background-color: $tertiary-color;
  max-width: 200px;
  max-height: 50px;
  overflow: hidden;
  input {
    height: 50px;
    color: white;
    background-color: $tertiary-color;
    -webkit-appearance: none;
    width: 200px;
    outline-style: none;
    border: none;
    padding-left: 20px;
  }
  
  input:active{
    border: none;
    -webkit-appearance: none
  }
  
  input::placeholder{
    color: #FFFFFF;
    opacity: 0.7;
  }

  .appareils {
    cursor: pointer;
  }
}


.appareil-list {
  background-color: $tertiary-color;
  display: flex;
  max-width: 550px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-group-item + .list-group-item {
  border: none;
}

.list-group-item:nth-child(0) {
  border: 0px;
}


// Container Ustensiles
.container-ustensil div { 
  background-color: $quadri-color;
  color: white;
  border: none;
  flex: 1 1 180px;
}

.container-ustensil{
  background-color: $quadri-color;
  max-width: 200px;
  max-height: 50px;
  overflow: hidden;

  input {
    height: 50px;
    color: white;
    background-color: $quadri-color;
    -webkit-appearance: none;
    width: 200px;
    outline-style: none;
    border: none;
    padding-left: 20px;
  }

  input:active{
    border: none;
    -webkit-appearance: none
  }

  input::placeholder{
    color: #FFFFFF;
    opacity: 0.7;
  }



  .ustensils {
    cursor: pointer
  }
}


.ustensil-list {
  background-color: $quadri-color;
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-group-item + .list-group-item {
  border: none;
}

.list-group-item:nth-child(0) {
  border: 0px;
}


.active{
  max-width: 600px;
  max-height: 300px;
  overflow-y: scroll;
}